################################################################################
#
# G-CAT Workflow configuration file
#
################################################################################

[general]
instance_option = --spot --aws-log-group-name gcatworkflow

##########
# parameters for bwa_mem
[gatk_bwa_alignment_parabricks_compatible]
resource = --aws-ec2-instance-type m5.4xlarge --disk-size 200
image = gcatworkflow/compat_parabricks:0.2.1
reference_dir = s3://genomon-bucket-virginia/broad/hg38/v0
reference_file = Homo_sapiens_assembly38.fasta
gatk_jar = /tools/gatk-4.1.0.0/gatk-package-4.1.0.0-local.jar

[bwa_alignment_parabricks]
gpu_support = False

###########
# mutation call
[gatk_mutectcaller_parabricks_compatible]
resource = --aws-ec2-instance-type m5.xlarge --disk-size 110
image = gcatworkflow/compat_parabricks:0.2.1
reference_dir = s3://genomon-bucket-virginia/broad/hg38/v0
reference_file = Homo_sapiens_assembly38.fasta
gatk_jar = /tools/gatk-4.1.0.0/gatk-package-4.1.0.0-local.jar
mutect_java_option = -Xmx14g
mutect_option = 

# "proc" --> $(proc)
# "proc_half" --> $(proc)/2
# number --> ex. 8
mutect_threads_option = 8

[mutectcaller_parabricks]
gpu_support = False

###########
# summary
[gatk_collect_wgs_metrics_compatible]
resource = --aws-ec2-instance-type t3.large --disk-size 25
image = gcatworkflow/compat_parabricks:0.2.1
reference_dir = s3://genomon-bucket-virginia/broad/hg38/v0
reference_file = Homo_sapiens_assembly38.fasta
gatk_jar = /tools/gatk-4.1.0.0/gatk-package-4.1.0.0-local.jar

[collect_wgs_metrics]
gpu_support = False

###########
# summary
[gatk_collect_multiple_metrics_compatible]
resource = --aws-ec2-instance-type r5.large --disk-size 25
image = gcatworkflow/compat_parabricks:0.2.1
reference_dir = s3://genomon-bucket-virginia/broad/hg38/v0
reference_file = Homo_sapiens_assembly38.fasta
gatk_jar = /tools/gatk-4.1.0.0/gatk-package-4.1.0.0-local.jar

[collect_multiple_metrics]
gpu_support = False

###########
# sv
[gridss]
resource = --aws-ec2-instance-type m5.2xlarge --disk-size 95
image = gcatworkflow/gridss:0.2.0
reference_dir = s3://genomon-bucket-virginia/broad/hg38/v0_gridss
reference_file = Homo_sapiens_assembly38.fasta
gridss_jar = gridss-2.9.4-gridss-jar-with-dependencies.jar

###########
# sv
[manta]
resource = --aws-ec2-instance-type c5.2xlarge --disk-size 25
image = gcatworkflow/manta:0.1.0
reference_dir = s3://genomon-bucket-virginia/broad/hg38/v0
reference_file = Homo_sapiens_assembly38.fasta
manta_config_option = 
manta_workflow_option = -m local
manta_workflow_threads_option = -j 8

###########
# Genomon
[genomonsv]
resource = --aws-ec2-instance-type c5.2xlarge --disk-size 25
image = gcatworkflow/manta:0.1.0
reference_dir = s3://genomon-bucket-virginia/broad/hg38/v0
reference_file = Homo_sapiens_assembly38.fasta

[genomon_mutation_call]
resource = --aws-ec2-instance-type c5.2xlarge --disk-size 25
image = gcatworkflow/manta:0.1.0
reference_dir = s3://genomon-bucket-virginia/broad/hg38/v0
reference_file = Homo_sapiens_assembly38.fasta

